# Ignore arquivos de ambiente virtual
venv/
__pycache__/

# Ignore arquivos de banco de dados
*.db

# Ignore arquivos de configuração do editor
.vscode/
.idea/

# Ignore arquivos de log
*.log

# Ignore arquivos de exportação
projetos.json
projetos.xlsx

# Ignore arquivos temporários
*.tmp
*.temp